<style>
@media (min-width: 992px){
  .onlineCoursesControls {
    margin-top: 210px;
  }
}
</style>
<section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
  <div class="container">
    <div class="row">
      <div class="experience-inner">
        <div class="col-sm-12 col-md-10 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head experience-text">
              <div class="col-sm-12">
                <h2 class="title">Cursos</h2>
                <p>Presenciales</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="overflow-hidden">
                <div class="row">
                  <div id="coursesSlider" class="clearfix card-element-wrapper">
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Noviembre 2014</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/angular.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Programación web avanzada en AngularJS
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Febrero 2014</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/hadoop.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            BIG DATA Y HADOOP: Nuevos tratamientos avanzados de la información
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Noviembre 2013</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/scrum.jpg" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Dirección y gestión ágil de proyectos TIC (Modelo SCRUM)
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Octubre - Noviembre 2013</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/html.jpg" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Programación Web con HTML5 y Javascript
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Mayo 2013</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/excel.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            ANÁLISE E TRATAMENTO AVANZADO DA INFORMACIÓN con Excel
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Febrero - Abril 2013</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/mysql.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Administrador e Desenvolvedor de Bases de Datos
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Febrero - Mayo 2011</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/php.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Programación Web con PHP
                          </span>
                          <p><a href="http://uvigo.gal/" target="_blank">Universidade de Vigo</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrapp courses-ctrl">
          <a class="btn-floating waves-effect waves-light btn-large white go go-left" style="margin-top: -280px;">
            <i class="mdi-navigation-chevron-left brand-text"></i>
          </a>
          <a class="btn-floating waves-effect waves-light btn-large white go go-right">
            <i class="mdi-navigation-chevron-right brand-text"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="experience-inner">
        <div class="col-sm-12 col-md-10 card-box-wrap">
          <div class="clearfix section-head experience-text">
            <div class="col-sm-12" style="padding-top: 30px;">
              <p>Online</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="overflow-hidden">
                <div class="row">
                  <div id="onlineCoursesSlider" class="clearfix card-element-wrapper">
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Enero 2016</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/pluralsight.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            TDD as a Design Tool
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/tdd-as-design-tool/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Enero 2016</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/yeoman.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Yeoman Fundamentals
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/yeoman-fundamentals/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Diciembre 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/angular.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            AngularJS Patterns: Clean Code
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/angularjs-patterns-clean-code/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Noviembre 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/gulp.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            JavaScript Build Automation With Gulp.js
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/javascript-build-automation-gulpjs/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Octubre 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/acloud.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            AWS Lambda - The complete Guide
                          </span>
                          <p>
                            <a href="https://www.udemy.com/aws-lambda" target="_blank">
                              Udemy
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Julio 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/jenkins.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Getting Started With Jenkins Continuous Integration
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/jenkins-introduction/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Julio 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/docker.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            Docker Deep Dive
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/docker-deep-dive/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Abril 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/rethinkdb.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            RethinkDB Fundamentals
                          </span>
                          <p>
                            <a href="https://app.pluralsight.com/library/courses/rethinkdb-fundamentals/table-of-contents" target="_blank">
                              Pluralsight
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Enero 2015</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img src="/img/courses/acloud.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title brand-text">
                            AWS Certified Solutions Architect
                          </span>
                          <p>
                            <a href="https://www.udemy.com/aws-certified-solutions-architect-associate" target="_blank">
                              Udemy
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrapp online-courses-ctrl">
          <a class="btn-floating waves-effect waves-light btn-large white go go-left onlineCoursesControls">
            <i class="mdi-navigation-chevron-left brand-text"></i>
          </a>
          <a class="btn-floating waves-effect waves-light btn-large white go go-right">
            <i class="mdi-navigation-chevron-right brand-text"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
