<section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
  <div class="container">
    <div class="row">
      <div class="experience-inner">
        <div class="col-sm-12 col-md-10 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head experience-text">
              <div class="col-sm-12">
                <h2 class="title">Experiencia</h2>
                <p class="regular-text">
                  "I made decisions that I regret, and I took them as learning experiences... I'm human, not perfect, like anybody else"
                  <br>
                  Queen Latifah
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="overflow-hidden">
                <div class="row">
                  <div id="experienceSlider" class="clearfix card-element-wrapper">
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Marzo 2014 - Actualidad</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img class="activator" src="/img/experience/innovategal.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">
                            Desarrollo Web
                            <i class="mdi-navigation-more-vert right"></i>
                          </span>
                          <p><a href="http://innovategal.com/" target="_blank">Innovategal, SL</a></p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">
                              Desarrollo Web
                              <i class="mdi-navigation-more-vert right"></i>
                            </span>
                            <p><a href="http://innovategal.com/" target="_blank">Innovategal</a></p>
                          </div>
                          <p class="rev-content">
                            Innovategal se dedica al desarrollo de sistemas de seguridad en medio marino.
                            Se utiliza un sencillo algoritmo de regresión logistica para mejorar la detección
                            de movimiento en un entorno que por naturaleza es dinámico.
                            Un servidor remoto recibe y analiza los datos.
                            El sistema cuenta un servicio de acuda que recibe las alarmas en tiempo real.
                            Básicamente es un caso pecualiar de IoT
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Septiembre 2015 - Actualidad</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img class="activator" src="/img/experience/vou.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">
                            Desarrollo Web
                            <i class="mdi-navigation-more-vert right"></i>
                          </span>
                          <p><a href="http://innovategal.com/" target="_blank">Vigo Ocio Universitario</a></p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">
                              Desarrollo Web
                              <i class="mdi-navigation-more-vert right"></i>
                            </span>
                            <p><a href="https://vigoociouniversitario.com/" target="_blank">Vigo Ocio Universitario</a></p>
                          </div>
                          <p class="rev-content">
                            Vigo Ocio Universitario pretender ser la comunidad universistaria que Vigo venía
                            necesitando. A cambio de una cuota anual, los socios obtienen descuentos en una
                            seria de locales adheridos al club. Además se incluye una relación de becas y
                            apuntes. Actualmente se está trabajando en la sección de socios, la aplicación
                            móvil y la tienda online.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Enero 2014 - Julio 2014</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img class="activator" src="/img/experience/er.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">
                            Desarrollo Web
                            <i class="mdi-navigation-more-vert right"></i>
                          </span>
                          <p><a href="http://www.easyrestaurant.es/" target="_blank">Easy Restaurant</a></p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">
                              Desarrollo Web
                              <i class="mdi-navigation-more-vert right"></i>
                            </span>
                            <p><a href="http://www.easyrestaurant.es/" target="_blank">Easy Restaurant</a></p>
                          </div>
                          <p class="rev-content">
                            Aplicación web que permite centralizar las compras en el sector de la hostelería.
                            La idea es obtener descuentos en compras por volumen y repatir dichos descuentos
                            entre los clientes y los responsables de la aplicación.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Junio 2012 - Diciembre 2013</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img class="activator" src="/img/experience/bit.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">
                            Online Manager
                            <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://bit-tiendas.com/" target="_blank">Bit Tiendas</a></p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">Online manager<i class="mdi-navigation-close right"></i></span>
                            <p>Bit Tiendas</p>
                          </div>
                          <p class="rev-content">
                            Dirección de la estrategia y operativa online para una empresa de venta minorista
                            de calzado con casi 20 puntos de venta. En un momento en que todo el mundo seguía
                            volcado en Google Adwords, se oriento la estretegía hacia Facebook y el resultado
                            fue muy positivo. En 12 meses se paso de 2.500 a 12.000 EUR de facturación mensual
                            y se alcanzaron picos de 30.000 visitantes únicos al mes.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Septiembre 2010 - Junio 2011</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img class="activator" src="/img/experience/uvigo.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">Colaboración<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://uvigo.es/" target="_blank">Universidad de Vigo</a></p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">Colaboración<i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="http://uvigo.es/" target="_blank">Universidad de Vigo</a></p>
                          </div>
                          <p class="rev-content">
                            Durante el último año de carrera, colaboré con el Departamento
                            de Máquinas Eléctricas. Ayudé a diseñar un modelo 3D de transformador
                            tipo Shell y a programar un link entre el programa de redes eléctricas
                            ATP y MatLAB. El objetivo era poder injectar modelos complejos programados
                            en MatLAB en el programa ATP y que pudieran interactuar con el resto de la red.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">Septiembre 2005 - Agosto 2008</h2>
                          <div class="valign-wrapper card-img-wrap">
                            <img class="activator" src="/img/experience/patrimanbel.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">Auxiliar administrativo<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://bit-tiendas.com/" target="_blank">Patrimanbel</a></p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">Auxiliar administrativo<i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="http://bit-tiendas.com/" target="_blank">Patrimanbel</a></p>
                          </div>
                          <p class="rev-content">
                            Trabajo a tiempo parcial durante la carrera. La función principal fue
                            ayudar. Desde manejar ingresos hasta picar facturas. Resultó ser una
                            buena primera toma de contacto con el mundo empresarial.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrapp exp-ctrl">
          <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
          <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
