<footer id="footer" class="root-sec white root-sec footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix footer-inner">
          <ul class="left social-icons">
            <li><a href="https://es.linkedin.com/in/ricsanchez87" target="_blank" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://twitter.com/richnologies" target="_blank" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://github.com/richnologies" target="_blank" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="GitHub"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href="https://hub.docker.com/r/richnologies" target="_blank" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="DockerHub">
                <i class="fa fa-docker"></i>
              </a>
            </li>
          </ul> <!-- ./social icons end -->
          <div class="right copyright">
            <p>Richnologies 2016 &copy; Todos los derechos compartidos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
