<!-- Portfolio Section start -->
<section id="portfolio" class="scroll-section root-sec white portfolio-wrap">
  <div class="padd-tb-120 brand-bg portfolio-top">
    <div class="portfolio-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">PORTFOLIO</h2>
            <p class="regular-text" style="color: white; margin-bottom: 50px;">"You can't connect the dots looking forward; you can only connect them looking backwards"<br>Steve Jobs</p>
          </div>
        </div>
      </div>
    </div>
    <!-- .container end -->
  </div>
  <div id="portfolioModal" class="modal white">
    <div class="model-img"></div>
    <div class="modal-content">
      <h2 class="title">GARDABATEAS</h2>
      <p class="m-content"></p>
    </div>

    <div class="modal-footer">
      <a href="#" target="_blank" class="waves-effect btn-flat brand-text modal-action">WEB DEL PROYECTO</a>
      <a href="#" class="waves-effect btn-flat brand-text modal-action modal-close">CERRAR</a>
    </div>
  </div>

  <div class="portfolio-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="clearfix protfolio-item" id="protfolio-msnry">

            <!-- Single Portfolio-->
            <li class="single-port-item category-1 category-3">
              <a href="#portfolioModal"
                class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/gardabateasfull.png"
                data-title="Gardabateas"
                data-content="El Gardabateas es un sistema de vigilancia 24 horas para bateas.
                Un conjunto de sensores instalados en la batea recogen información y la envían
                a un servidor remoto, donde es procesada. En caso de alarma, se notifica a los
                vigilantes que trabajan en la zona."
                data-demo-link="http://gardabateas.com"> <!-- Portfolio pop-up content-->
                <div class="protfolio-image">
                  <img src="/img/portfolio/gardabateasthumb.png" alt="portfolio"> <!-- portfolio thumbnail-->
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">GARDABATEAS</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-1 category-3">
              <a href="#portfolioModal"
                class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/voufull.png"
                data-title="VIGO OCIO UNIVERSITARIO"
                data-content="Desarrollo de la web para la Asociación para la intergración
                del estudiante en la comunidad universitaria. Incluye un BackOffice completo
                y a medida que permite la gestión de los contenidos a los responsables de la
                estrategia online. Actualmente se está trabajando en la zona de clientes y en
                una aplicación móvil que esta siendo desarrollada con Ionic"
                data-demo-link="http://vigoociouniversitario.com"> <!-- Portfolio pop-up content-->
                <div class="protfolio-image">
                  <img src="/img/portfolio/vouthumb.png" alt="portfolio"> <!-- portfolio thumbnail-->
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">VIGO OCIO UNIVERSITARIO</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-1 category-3">
              <a href="#portfolioModal"
                class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/dronfull.jpg"
                data-title="WEB DRONE"
                data-content="¿Quien necesita un ordenador portatil, pudiendo
                tener un ordernador volador? ;)
                Uso de la API de DroneKit, de los creadores de Ardupilot
                y 3DR para ser capaces de controlar un dron o una flota de ellos
                a través de internet. El codigo ha sido probado en un dron Iris+ de 3DR
                junto con una Raspberry PI, hasta que por causas ajenas a este
                modulo se perdió :( . A día de hoy, las pruebas se realizan en el simulador."
                data-demo-link="https://github.com/richnologies/webdrone"> <!-- Portfolio pop-up content-->
                <div class="protfolio-image">
                  <img src="/img/portfolio/dronthumb.jpg" alt="portfolio"> <!-- portfolio thumbnail-->
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">WEB DRONE</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-2 category-1">
              <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/gicefull.png"
                data-title="GICE"
                data-content="Gice es una aplicación web creada para controlar las tareas de
                mantenimiento en centros educativos. Permite tanto a los profesores como al director
                enviar sus incidencias de manera centralizada. De la misma manera los responsables
                de mantenimiento pueden contestar y resolver las incidencias, añadiendo fotos o
                simplemente respuestas. Así mismo genera estadisticas que permiten al centro
                evaluar la calidad del servicio, como tiempo medio de resolución, incidencias por
                docente o número de visitas de los tecnicos de mantenimiento."
                data-demo-link="http://gice.kenlla.com">
                <div class="protfolio-image">
                  <img src="/img/portfolio/gicethumb.png" alt="portfolio">
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">GICE</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-1 category-2">
              <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/erfull.png"
                data-title="EASY RESTAURANT"
                data-content="Aplicación web que permite centralizar las compras en el sector de la hostelería.
                La idea es obtener descuentos en compras por volumen y repatir dichos descuentos
                entre los clientes y los responsables de la aplicación."
                data-demo-link="http://easyrestaurant.es">
                <div class="protfolio-image">
                  <img src="/img/portfolio/erthumb.png" alt="portfolio">
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">EASY RESTAURANT</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-3">
              <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/bitfull.png"
                data-title="BIT-TIENDAS"
                data-content="Dirección de la estrategia y operativa online para una empresa de venta minorista
                de calzado con casi 20 puntos de venta. En un momento en que todo el mundo seguía
                volcado en Google Adwords, se orientó la estretegía hacia Facebook y el resultado
                fue muy positivo. En 12 meses se paso de 2.500 a 12.000 EUR de facturación mensual
                y se alcanzaron picos de 30.000 visitantes únicos al mes."
                data-demo-link="http://bit-tiendas.com">
                <div class="protfolio-image">
                  <img src="/img/portfolio/bitthumb.png" alt="portfolio">
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">BIT-TIENDAS</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-1 category-3 category-4">
              <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/atpfull.jpg"
                data-title="CONEXION ENTRE ATP Y MATLAB"
                data-content="Dentro de un período de colaboración con el departamento
                de máquinas eléctricas de la universidad, se creó un puente entre
                ATP y MatLAB. Este trabajo se engloba dentro la colaboración con el
                fabricante portugués de transformadores EFACEC. ATP es un programa de
                simulación de redes eléctricas. Si bien contiene modelos de transformadores,
                resultan ser demasiado simples. El objetivo era poder introducir en la red, un
                modelo matemático más fiel del transformador para de esta manera evaluar mejor
                los voltajes en las bobinas en caso de sobretensiones tipo rayo y tratar de
                mejorar la vida útil de los mismos. En enlace se hizo vía C++. ATP -> C++ -> Matlab."
                data-demo-link="http://uvigo.es">
                <div class="protfolio-image">
                  <img src="/img/portfolio/atpthumb.jpg" alt="portfolio">
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">INTEGRACIÓN MATLAB-ATP</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

            <!-- Single Portfolio-->
            <li class="single-port-item category-1 category-3 category-4">
              <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger"
                data-image-source="/img/portfolio/uvigofull.png"
                data-title="MODELO 3D TRANSFOMADOR TIPO SHELL"
                data-content="Dentro de un período de colaboración con el departamento
                de máquinas eléctricas de la universidad, se creó un modelo 3D en Solidworks
                de un transformador tipo Shell. Este proyecto tenía dos propositos. Por un lado
                servir para ilustraciones en un trabajo editorial y por otro servir de base para
                analisis de flujo magnético con el programa FLUX."
                data-demo-link="http://uvigo.es">
                <div class="protfolio-image">
                  <img src="/img/portfolio/uvigothumb.png" alt="portfolio">
                  <div class="protfolio-content waves-effect waves-block waves-light">
                    <div class="protfolio-content__inner">
                      <h2 class="p-title">TRANSFORMADORES TIPO SHELL</h2>
                    </div>
                  </div>
                  <div class="p-overlay"></div>
                </div>
              </a>
            </li>
            <!--/ single portfolio -->

          </ul>
          <!-- portfolio load more button-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #portfolio Section end -->
