<!-- Testimonial Section end -->
<section id="testimonial" class="scroll-section root-sec brand-bg padd-tb-120 testimonial-wrap">
  <div class="container">
    <div class="row">
      <div class="testimonial-inner">
        <div class="col-sm-12 col-md-10 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head testimonial-text">
              <div class="col-sm-12">
                <h2 class="title">testimonios</h2>
                <p class="regular-text">"If You Want To Go Fast, Go Alone. If You Want To Go Far, Go Together"<br>African Proverb</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="overflow-hidden">
                <div class="row">
                  <div id="testimonialSlider" class="clearfix card-element-wrapper">
                    <div class="col-sm-6 single-card-box">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <div class="card-img-wrap">
                            <img class="activator" src="/img/testimonials/josecoego.png" alt="">
                            <p class="saying-about">
                              Una elevada capacidad de innovación es una de las habilidades
                              más sobresalientes de Ricardo, asume con naturalidad y responsabilidad
                              los nuevos retos, abordando proactivamente los proyectos en los que
                              participa.
                            </p>
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">
                            Jose Coego -
                          </span>
                          <a>Desarrollo de producto e I+D, Innovategal</a>
                        </div>
                      </div>
                    </div> <!-- ./single testimonial box -->
                    <div class="col-sm-6 single-card-box">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <div class="card-img-wrap">
                            <img class="activator" src="/img/testimonials/araujo.jpg" alt="">
                            <p class="saying-about">
                              Recomendaría a Ricardo para cualquier trabajo en el que se requiera
                              un profesional comprometido, proactivo y de gran calidad humana,
                              destacando su constancia y espcial dedicación a nuestro
                              proyecto emprendedor.</p>
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">Jose Antonio Araujo -</span>
                          <a>President, Vigo Ocio Universitario</a>
                        </div>
                      </div>
                    </div> <!-- ./single testimonial box -->
                  </div> <!-- #testimonialSlider end -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrapp tmo-ctrl">
          <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
          <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
        </div>
      </div>
    </div>
  </div> <!-- ./container end -->
</section>
<!-- #testimonial Section end -->
