<!-- Contact Section end -->
<section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
  <div class="container">
    <div class="row">
      <div class="contact-inner">
        <div class="col-sm-12 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head contact-text">
              <div class="col-sm-12">
                <h2 class="title">Contacto</h2>
                <p class="regular-text">Av Ramon Nieto 313B 2D Vigo, España</p>
                <ul class="clearfix contact-info">
                  <li><a href="">686 928 036</a>
                  </li>
                  <li><a href="">me@richnologies.io</a>
                  </li>
                  <li><a href="">richnologies.io</a>
                  </li>
                </ul>
              </div>
            </div> <!-- contact text end -->

            <div class="clearfix contact-form">

            <!-- Map Start -->
              <div class="col-sm-12">
                <div class="map-wrapper">
                  <div id="map"></div>
                </div>
              </div> <!-- Map end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./container end -->
  <div class="section-call-to-area">
    <div class="container">
      <div class="row">
        <a href="#home" class="btn-floating btn-large button-middle call-to-home section-call-to-btn animated btn-up btn-hidden" data-section="#home">
          <i class="mdi-navigation-expand-less"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- #contact Section end -->
