<section id="education" class="root-sec grey lighten-5 padd-tb-120 education-wrap">
  <div class="container">
    <div class="row">
      <div class="education-inner">
        <div class="col-sm-12 col-md-10 card-box-wrap">
          <div class="row">
            <div class="clearfix section-head education-text">
              <div class="col-sm-12">
                <h2 class="title">educación</h2>
                <p class="regular-text">
                  "Education is not the filling of a pail, but the lighting of a fire"
                  <br>
                  William Butler Yeats
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="overflow-hidden">
                <div class="row">
                  <div id="educationSlider" class="clearfix card-element-wrapper">

                    <!-- single education -->
                    <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">2005 - 2012</h2>
                          <div class="card-img-wrap">
                            <img class="activator" src="/img/education/eei.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">Ingeniería Superior Industrial<i class="mdi-navigation-more-vert right"></i></span>
                          <p>Universidade de Vigo</p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">Ingeniería Superior Industrial<i class="mdi-navigation-close right"></i></span>
                            <p>Universidade de Vigo</p>
                          </div>
                          <p class="rev-content">
                            Me especialicé en tecnolgía eléctrica. La parte de diseño de máquinas elétricas
                            era la más intersante para mí.
                            <br>
                            Tuve la oportunidad de colaborar en el departamento, trabajando con transformadores
                            y fue una experiencia muy enriquecedora.
                            <br>
                            Todavía tengo pendiente el PFC. En su momento tuve que dejarlo para ayudar
                            en la empresa familiar. A día de hoy estoy redactandolo para presentarlo en
                            breve en base a mi trabajo actual, con la inestimable ayuda y paciencia
                            de mi director de proyecto, a quien estoy muy agradecido.
                          </p>
                        </div>
                      </div>
                    </div> <!-- single education -->

                  <!-- single education -->
                    <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <h2 class="left-align card-title-top">2011 - Actualidad</h2>
                          <div class="card-img-wrap">
                            <img class="activator" src="/img/education/uoc.png" alt="">
                          </div>
                        </div>
                        <div class="card-content">
                          <span class="card-title activator brand-text">Grado en Económicas<i class="mdi-navigation-more-vert right"></i></span>
                          <p>UOC</p>
                        </div>
                        <div class="card-reveal">
                          <div class="rev-title-wrap">
                            <span class="card-title activator brand-text">Grado en Económicas<i class="mdi-navigation-close right"></i></span>
                            <p>UOC</p>
                          </div>
                          <p class="rev-content">
                            Este grado empezó para mí como una manera de no tener que hacer
                            los créditos de libre elección con asignaturas intrascendentes.
                            <br>
                            Al mismo tiempo, teniendo un bagaje tan técnico como el de una
                            ingeniería, formación adicional en ciencas sociales suponía
                            durante el período de examanes un soplo de aire fresco.
                            <br>
                            Por último, provengo de una familia de empresarios, de manera que
                            formación en empresariales es un obligado.
                            <br>
                            A día de hoy, sigo cursando 1 o 2 asignaturas por cuatrimestre.
                          </p>
                        </div>
                      </div>
                    </div> <!-- single education -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrapp edu-ctrl">
          <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i class="mdi-navigation-chevron-left"></i></a>
          <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i class="mdi-navigation-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
