<!-- header navigation start -->
<header id="navigation" class="root-sec white nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="nav-inner">
          <nav class="primary-nav">
            <div class="clearfix nav-wrapper">
              <a href="#home" class="left brand-logo menu-smooth-scroll" data-section="#home">
                <img src="/img/logo.png" style="margin: 10px; height: 50px;" alt="">
              </a>
              <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="mdi-navigation-menu"></i></a>
              <ul class="inline-menu side-nav" id="mobile-demo">

              <!-- Mini Profile // only visible in Tab and Mobile -->
                <li class="mobile-profile">
                 <div class="profile-inner">
                    <div class="pp-container">
                        <img src="/img/foto.png" alt="">
                    </div>
                    <h3>Ricardo Sánchez</h3>
                    <h5>Full Stack Javascript Dev</h5>
                  </div>
                </li><!-- mini profile end-->


                <li><a href="#about" data-section="#about" class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>Sobre mí</a>
                </li>
                <li><a href="#resume" data-section="#resume" class="menu-smooth-scroll"><i class="fa fa-file-text fa-fw"></i>Resumen</a>
                </li>
                <li><a href="#portfolio" data-section="#portfolio" class="menu-smooth-scroll"><i class="fa fa-briefcase fa-fw"></i>Portfolio</a>
                </li>
                <li><a href="#testimonial" data-section="#testimonial" class="menu-smooth-scroll"><i class="fa fa-comments fa-fw"></i>Testimonios</a>
                </li>
                <li><a href="#contact" data-section="#contact" class="menu-smooth-scroll"><i class="fa fa-paper-plane fa-fw"></i>Contacto</a>
                </li>
              </ul>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- .container end -->
</header>
<!-- #header  navigation end -->
