<section id="skill" class="root-sec white skill-wrap">
<div class="sec-overlay">
  <div class="container">
    <div class="row">
      <div class="clearfix skill-inner">
        <div class="col-sm-12 col-md-3">
          <div class="skill-left">
            <h2 class="title">Habilidades</h2>
            <p class="regular-text"><em>"The most beautiful thing we can experience is the mysterious. It is the source of all true art and science"</em> <br><br> Albert Einstein</p>
          </div>
        </div>

        <!-- skills container -->
        <div class="col-sm-12 col-md-6 col-md-offset-1">
          <div class="skill-right">
            <div id="skillSlider" class="clearfix skill-graph">

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="90%">
                      <div class="skill-visiable">
                        <span class="skill-title">JavaScript</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">90%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="85%">
                      <div class="skill-visiable">
                        <span class="skill-title">NodeJS</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">85%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="50%">
                      <div class="skill-visiable">
                        <span class="skill-title">MongoDB</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">50%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="65%">
                      <div class="skill-visiable">
                        <span class="skill-title">Docker</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">65%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="60%">
                      <div class="skill-visiable">
                        <span class="skill-title">RabbitMQ</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">60%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="70%">
                      <div class="skill-visiable">
                        <span class="skill-title">RethinkDB</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">70%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="85%">
                      <div class="skill-visiable">
                        <span class="skill-title">AngularJS</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">85%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="45%">
                      <div class="skill-visiable">
                        <span class="skill-title">MatLAB</span>
                        <div class="hr-wrap">

                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">35%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="30%">
                      <div class="skill-visiable">
                        <span class="skill-title">Scala</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">30%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
              <div class="single-skill">
                <div class="after-li">
                  <div class="singel-hr">
                    <div class="singel-hr-inner" data-height="25%">
                      <div class="skill-visiable">
                        <span class="skill-title">akka</span>
                        <div class="hr-wrap">
                          <div class="hrc"></div>
                        </div>
                      </div>
                    </div>
                    <span class="skill-count">25%</span>
                  </div>
                </div>
              </div>
              <!-- /single skill-->

              <!-- single skill -->
            </div>
          </div>
        </div>
        <!-- /skills container -->
      </div>
    </div>
    <div class="btn-wrapp skl-ctrl">
      <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i class="mdi-navigation-chevron-left "></i></a>
      <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i class="mdi-navigation-chevron-right "></i></a>
    </div>
  </div>
</div>
  <!-- .container end -->
</section>
